h2 {
  margin-bottom: 2rem;
}

.btn-default {
  color: $primary;
  background-color: $btn-default;

  &:hover,
  &:focus {
    color: $primary;
    background-color: darken($btn-default, 3);
  }
}

.btn-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  padding: 0;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, .3);
  transition: transform .3s;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.link-arrow {
  color: $primary;

  &:hover,
  &:focus {
    color: darken($primary, 10);
    text-decoration: none;
  }

  span {
    margin-right: 8px;
    vertical-align: middle;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.intro {
  padding-top: 90px;
  padding-bottom: 130px;
  background-color: #fdfdfd;

  &-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;

    &-title {
      font-size: 48px;
    }

    &-subtitle {
      margin-bottom: 15px;
      font-size: 28px;
    }

    &-list {
      margin-bottom: 1.5rem;

      li {
        margin-bottom: 8px;

        a {
          font-size: 22px;
          font-weight: 500;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.problems-section {
  position: relative;
}

.problems-list {
  position: absolute;
  top: -82px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;

  &-item-wrapper {
    flex: 0 0 33.33333%;
    flex-grow: 1;
    max-width: 33.33333%;
    padding: 16px 70px;
    color: $primary;
    background-color: $lightPrimary;

    &:first-of-type {
      text-align: right;
      border-top-left-radius: 6px;
    }

    &:nth-child(2) {
      margin-left: 3px;
      margin-right: 3px;
      text-align: center;
    }

    &:last-of-type {
      border-top-right-radius: 6px;
    }
  }

  &-item {
    display: inline-block;
    text-align: left;
  }

  .problems-item-title {
    margin-top: 3px;
    margin-bottom: 0;
    font-weight: 500;
  }
}

.video-container {
  position: relative;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;

  img {
    min-height: 100%;
    object-fit: cover;
    filter: brightness(80%);
  }

  .video-play-block {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    span {
      display: block;
      margin-top: 15px;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
  }
}

.memo-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 30px;
  padding-right: 110px;
  border: 1px solid $primary;
  border-radius: 12px;
}

.memo-item {
  & + .memo-item {
    margin-top: 2rem;
  }

  &-title {
    margin-bottom: 4px;
    font-weight: 500;
    color: $body-color;
  }

  &-link {
    font-size: 12px;
    font-weight: 500;
  }
}

.memos-dots-bg {
  position: absolute;
  top: -6px;
  right: -6px;
  z-index: 10;
}
