h2 {
  margin-bottom: 2rem;
}

p {
  line-height: 1.7;
}

.btn-default {
  color: $primary;
  background-color: $btn-default;

  &:hover,
  &:focus {
    color: $primary;
    background-color: darken($btn-default, 3);
  }
}

.btn-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  padding: 0;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, .3);
  transition: transform .3s;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.link-primary {
  color: $primary;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: darken($primary, 8);
    text-decoration: none;
  }

  span {
    margin-right: 8px;
    vertical-align: middle;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.intro {
  padding-top: 90px;
  padding-bottom: 130px;
  background-color: #fdfdfd;

  &-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;

    &-title {
      font-size: 48px;
      color: $primary;
    }

    &-subtitle {
      margin-bottom: 15px;
      font-size: 28px;
      color: $primary;
    }

    &-list {
      margin-bottom: 1.5rem;

      li {
        margin-bottom: 8px;

        a {
          font-size: 22px;
          font-weight: 500;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.problems-section {
  position: relative;
}

.problems-list {
  position: absolute;
  top: -82px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;

  &-item-wrapper {
    flex: 0 0 33.33333%;
    flex-grow: 1;
    max-width: 33.33333%;
    padding: 16px 70px;
    color: $primary;
    background-color: $light-primary;

    &:first-of-type {
      text-align: right;
      border-top-left-radius: 6px;
    }

    &:nth-child(2) {
      margin-left: 3px;
      margin-right: 3px;
      text-align: center;
    }

    &:last-of-type {
      border-top-right-radius: 6px;
    }
  }

  &-item {
    display: inline-block;
    text-align: left;
  }

  .problems-item-title {
    margin-top: 3px;
    margin-bottom: 0;
    font-weight: 500;
  }
}

.video-container {
  position: relative;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;

  img {
    min-height: 100%;
    object-fit: cover;
    filter: brightness(80%);
  }

  .video-play-block {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    span {
      display: block;
      margin-top: 15px;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
  }
}

.memo-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 30px;
  padding-right: 110px;
  border: 1px solid $primary;
  border-radius: 12px;
}

.memo-item {
  & + .memo-item {
    margin-top: 2rem;
  }

  &-title {
    margin-bottom: 4px;
    font-weight: 500;
  }

  &-link {
    font-size: 12px;
    font-weight: 500;
  }
}

.memos-dots-bg {
  position: absolute;
  top: -6px;
  right: -6px;
  z-index: 10;
}

.instructions-section {
  background-color: $section-bg;

  .card-deck {
    padding: 34px 22px;
    background: url(img/svg/instructions-dots-bg.svg) no-repeat right top;

    .card {
      margin-left: 10px;
      margin-right: 10px;
      border: none;

      &-title {
        text-align: center;
      }

      li {
        margin-top: 1.5rem;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: 500;
        border-bottom: 1px solid rgba(47, 73, 140, 0.2);
      }

      .link-arrow {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        text-decoration: none;

        span {
          margin-right: auto;
        }

        svg {
          flex-shrink: 0;
          margin-left: 8px;
        }
      }
    }
  }
}

.ourwork-section {
  .card {
    border-color: #de9fae;

    &:hover,
    &:focus {
      text-decoration: none;
      border-color: $primary;
    }

    &.active {
      background-color: $light-primary;
      border-color: $light-primary;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -12px;
        display: block;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        background-color: $light-primary;
        border-top-right-radius: 10px;
        transform: rotate(45deg);
      }
    }

    & + .card {
      margin-top: 1.8rem;
    }

    &-body {
      padding: 24px;
    }

    &-title {
      color: $body-color;
    }

    p {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.about-section {
  color: #fff;
  background-color: $primary;

  .container {
    background: url(img/svg/about-dots-bg.svg) no-repeat right top;
  }

  &-row {
    align-items: center;
    padding: 10px 7px;
  }

  &-subtitle {
    margin-bottom: 2rem;
    font-size: 22px;
  }

  .statistic-card {
    background-color: #501b3c;
    box-shadow: -6px 6px 24px rgba(80, 27, 60, .5);
    border-radius: 18px;
  }

  .statistic-item {

    & + .statistic-item {
      margin-top: 40px;
    }

    &-title {
      margin-bottom: 5px;
      font-size: 56px;
    }

    &-subtitle {
      font-size: 22px;
    }
  }
}

.donate-section {
  background-color: $section-bg;

  .donate-text-item {
    margin-bottom: 3rem;
  }

  .donate-text-title {
    font-weight: 500;
  }

  .donate-text-desc {
    font-size: 18px;
  }
}

.socials-title {
  margin-bottom: 2rem;
  font-weight: 500;
}

.socials-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;

  .social-item {
    text-align: center;

    &:hover {
      text-decoration: none;
    }

    & + .social-item {
      margin-left: 1rem;
    }

    svg {
      margin-bottom: 1rem;
    }

    span {
      display: block;
      font-size: 14px;
    }
  }
}

.messenger-item {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;

  &:hover {
    text-decoration: none;
  }
}

.contacts-item {
  display: flex;
  margin-bottom: 2rem;
  font-size: 24px;
  font-weight: 300;

  &-key {
    flex-shrink: 0;
    flex-basis: 200px;
    margin-right: 10px;
    white-space: nowrap;
  }
}
