@media screen and (max-width: 37.5em) {
  /* Small menu. */
  .menu-toggle,
  .main-navigation.toggled ul {
    display: block;
    margin: 0 auto;
  }
}


@media screen and (max-width: 608px) {
  .entry-header,
  .page-header,
  .entry-footer,
  .posts-navigation,
  .post-navigation,
  .page-navigation,
  .comments-area,
  .not-found .page-content,
  .search .entry-summary {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (min-width: 992px) {
  .ourwork-tabs {
    flex: 0 0 430px;
    max-width: 430px;
  }

  .ourwork-content {
    margin-left: 70px;
  }
}

@media (min-width: 1200px) {
  .container-lg {
    max-width: 1343px;
  }
}
