@media (min-width: 992px) {
  .ourwork-tabs {
    flex: 0 0 430px;
    max-width: 430px;
  }

  .ourwork-content {
    margin-left: 70px;
  }
}

@media (min-width: 1200px) {
  .container-lg {
    max-width: 1343px;
  }
}
