$font-family-sans-serif:    'Inter', sans-serif;
$primary:                 #bc3356;
$lightPrimary:            #ffe0de;

$body-color:              #150045;
$link-color:              #2e375f;

$input-btn-padding-y:       .532rem;
$input-btn-padding-x:       1.2rem;
$input-btn-font-size:       14px;
$btn-font-weight:           500;
$btn-default:               $lightPrimary;

$h1-font-size:              46px;
$h2-font-size:              44px;
$h3-font-size:              32px;
$h4-font-size:              26px;
$h5-font-size:              18px;
$h6-font-size:              16px;
$headings-font-weight:      700;
$headings-color:            $primary;


$navbar-light-brand-color:        $primary;
$navbar-light-brand-hover-color:  $primary;
$navbar-brand-padding-y:          5px;
$navbar-brand-font-size:          23px;
