/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
p > code {
  padding: 2px;
  border-radius: 2px;
  background: #f3f4f5;
  font-size: inherit;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

.site-header {
  position: relative;
  z-index: 1000;
  width: 100%;
  padding: 30px 0;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(16, 4, 50, 0.07);

  @include media-breakpoint-down(lg) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.header-right {
  margin-left: auto;

  .btn-help {
    display: none;
  }
}

.header-region {
  position: relative;

  .region-dropdown {
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    z-index: 10;
    padding: 18px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .25);

    @include media-breakpoint-down(xs) {
      position: fixed;
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.5);
      transition: bottom .4s;
    }

    &::before {
      content: '';
      position: absolute;
      top: -8px;
      right: 30px;
      border-style: solid;
      border-width: 0 8px 8px;
      border-color: transparent transparent #fff;

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }

    &-title {
      font-weight: 500;
      white-space: nowrap;
    }
  }
}

.site-header.sticked {
  position: fixed;
  top: 0;

  & + .site-main {
    padding-top: 100px;
  }

  .header-region {
    @include media-breakpoint-up(sm) {
      display: none;
    }

    @include media-breakpoint-down(xs) {
      .btn-region {
        display: none;
      }

      .region-dropdown {
        bottom: -152px;
      }
    }
  }

  .btn-help {
    display: inline-block;

    span {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
}

body.nav-toggled .region-dropdown {
  display: none;
}

.archive .site-header {
  margin-bottom: 3.5em;
}

.navbar-brand {
  padding-left: 0;
  margin-right: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: inherit;
  white-space: nowrap;
  color: $navbar-light-brand-color;

  @include hover-focus {
    color: $navbar-light-brand-hover-color;
    text-decoration: none;
  }

  @include media-breakpoint-down(lg) {
    margin-right: 1.7rem;
  }

  @include media-breakpoint-down(xs) {
    font-size: 14px;
    white-space: normal;
  }

  h1 {
    margin: 0;
    font-size: 23px;
    font-weight: 700;
    line-height: inherit;
    color: $navbar-light-brand-color;
  }
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 40px;

  @include media-breakpoint-down(sm) {
    position: static;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;

    @include media-breakpoint-down(md) {
      position: absolute;
      top: calc(100% + 14px);
      display: none;
      justify-content: space-around;
      width: 100%;
      padding: 10px 20px;
      background-color: #fff;
      box-shadow: 0px 4px 4px rgba(16, 4, 50, .05)
    }

    @include media-breakpoint-down(sm) {
      top: 100%;
      left: 0;
      right: 0;
      width: auto;
    }

    @include media-breakpoint-down(xs) {
      top: 0;
      z-index: -1;
      flex-direction: column;
      justify-content: start;
      width: 100%;
      height: 100vh;
      padding-top: 100px;
      overflow: hidden;
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
      display: block;
    }

    ul {
      position: absolute;
      left: -999em;
      top: 100%;
      z-index: 99999;
      float: left;
      text-align: left;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

      li:hover > ul,
      li.focus > ul {
        left: 100%;
      }

      a {
        width: 200px;
      }

      ul {
        top: 0;
        left: -999em;
      }
    }
  }

  li {
    position: relative;

    @include media-breakpoint-down(xs) {
      margin-bottom: 35px;
    }

    &.current-menu-item:not(.menu-item-type-custom) a {
      color: $primary;
    }
  }

  .nav-menu a {
    display: block;
    padding-right: 12px;
    padding-left: 12px;
    font-weight: 300;
    text-decoration: none;
    white-space: nowrap;

    @include media-breakpoint-down(lg) {
      padding-left: 10px;
      padding-right: 10px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 24px;
      font-weight: 400;
    }
  }

  .btn-menu-toggle {
    display: none;
    min-width: 22px;
    margin-right: 18px;

    @include media-breakpoint-down(md) {
      display: flex;
    }

    .icon-close {
      display: none;
    }
  }
}

.main-navigation.toggled {
  ul {
    @include media-breakpoint-down(md) {
      display: flex;
    }
  }

  .btn-menu-toggle {
    .icon-burger {
      display: none;
    }

    .icon-close {
      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  border-bottom: 1px solid #e2e4e7;
  margin: 0 auto 60px;
  overflow: hidden;
  padding-bottom: 60px;
}

.nav-links {
  display: flex;
  font-weight: bold;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  width: 50%;
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft,
.alignright {
  max-width: 580px !important;	/* Let's work to make this !important unnecessary */
}

.alignleft img,
.alignright img,
.alignleft figcaption,
.alignright figcaption {
  max-width: 50%;
  width: 50%;
}

.alignleft figcaption {
  clear: left;
}

.alignright figcaption {
  clear: right;
}

.alignleft img,
.alignleft figcaption {
  float: left;
  margin-right: 1.5em;
}

.alignright img,
.alignright figcaption {
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area {
  margin-bottom: 60px;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.widget {
  margin-bottom: 1.5rem;
}

.widget select {
  max-width: 100%;
}


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 60px 0;

  @include media-breakpoint-down(xs) {
    margin: 30px 0;
  }
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.entry-content a {
  font-weight: 500;
  color: #0423DD;
}

.entry-meta {
  color: #6c7781;
  font-size: 90%;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-header .wp-post-image {
  margin-bottom: 1.5em;
}

.entry-footer span{
  margin-right: 1em;
}

.entry-footer{
  color: #6c7781;
  font-size: 90%;
  padding-bottom: 40px;
  border-bottom: 1px solid #e2e4e7;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.3333333333%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.6666666667%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.2857142857%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.1111111111%;
}

.gallery-caption {
  display: block;
}

// Buttons
.btn-link {
  padding: 0;
}

.btn-region {
  font-weight: 300;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  span {
    vertical-align: middle;
  }
}
